@import '_reset.scss';
@import '_wordpress.scss';
@import '_sprite.scss';
@import '_button.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_font_neucha.scss';
@import '_font_foo.scss';
$width: 980px;
$footer: 330px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #533281;
$trs: all .5s;



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;

  color: $color;
  background-color: #dbc5f9;
  background-image: url(../img/bg/body.jpg);
  background-repeat: no-repeat;
  background-position: center -300px;
}

a {
  transition: $trs;
  text-decoration: underline;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;
}

header {
  z-index: 0;

  height: 315px;
  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 121px;

    display: block;

    width: 761px;
    height: 204px;
    img {
      max-width: 100%;
    }
  }
  nav {
    position: absolute;
    top: 204px;
    left: 0;
  }
  .headnav {
    z-index: 1;

    display: block;

    width: 100%;
    height: 100px;
    padding: 0 30px;

    background-image: url(../img/bg/headnav.png);
    li {
      position: relative;

      display: inline-block;
      float: left;

      width: 230px;

      text-align: center;
      a {
        font-family: 'Neucha';
        font-size: 22px;

        position: relative;

        display: block;

        padding: 29px 0 28px;

        text-decoration: none;

        color: #fff;
        text-shadow: 0 2px 2px rgba(56, 29, 95, .004);
        &:hover {
          color: #fef200;
        }
        &:before {
          position: absolute;
          z-index: 2;
          top: -60px;
          left: 70px;

          display: block;

          width: 100%;

          content: ' ';

          background-repeat: no-repeat;
          background-position: center top;
        }
      }
      &:after {
        position: absolute;
        top: 32px;
        right: -6px;

        display: block;

        width: 12px;
        height: 12px;

        content: ' ';

        background-repeat: no-repeat;

        @include sprite($sprite-star);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:first-child {
        a {
          &:before {
            @include sprite($sprite-headnav-1);
          }
        }
      }
      &:nth-child(2) {
        a {
          &:before {
            @include sprite($sprite-headnav-2);
          }
        }
      }
      &:nth-child(3) {
        a {
          &:before {
            @include sprite($sprite-headnav-3);
          }
        }
      }
      &:last-child {
        a {
          &:before {
            @include sprite($sprite-headnav-4);
          }
        }
      }
    }
  }
  .slider {
    display: none;
  }
}

body.home {
  background-position: center top;
  header {
    height: 650px;
    .logo {
      height: 202px;
    }
    .slider {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 380px;

      background-color: #fff;
      .slider-container {
        position: absolute;
        z-index: 0;
        bottom: 30px;
        left: 0;

        width: 100%;
        height: 350px;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;

          display: block;

          width: 100%;
          height: 10px;

          content: '';

          background-image: url(../img/bg/header-arc.png);
        }
        h5,
        h6,
        a {
          position: absolute;
        }
        h5,
        h6 {
          color: #fff;
          text-shadow: white 3px 3px 0, white -3px -3px 0, white -1px 1px 0, white 1px -1px 0;
        }
        h5 {
          font-family: 'Neucha';
          font-size: 60px;
          line-height: 1.2;

          top: 54px;
          left: 60px;

          text-indent: 10.3px;

          color: rgb(229, 57, 143);
        }
        h6 {
          font-family: 'Neucha';
          font-size: 105px;
          line-height: 1.2;

          top: 107px;
          left: 56px;

          text-indent: 10.3px;

          color: rgb(83, 50, 129);
        }
        a {
          font-family: 'Foo';

          top: 220px;
          left: 90px;

          display: block;

          width: 220px;
          height: 50px;

          text-align: center;
          text-decoration: none;

          color: #fff;
          border-radius: 8px;
          background-image: linear-gradient(to bottom, #fb62b2 0%, #e2348f 100%);
        }
      }
      .slider-nav {
        position: absolute;
        z-index: 100;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 32px;

        background-image: url(../img/bg/slider-nav.png);
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }
    nav {
      text-outline: 200px;
    }
  }
}
.rev_slider_wrapper {
  .tp-bullets {
    bottom: -12px !important;
  }
  .tparrows {
    margin-top: 140px !important;
    position: relative;
    z-index: 101;
    width: 16px;
    height: 24px;
    top: 200px !important;
    div {
      display: none;
    }
  }
  .tp-leftarrow {
    left: 425px !important;
    @include sprite($sprite-slider-nav-left);
  }
  .tp-rightarrow {
    right: 425px !important;
    @include sprite($sprite-slider-nav-right);
  }
}
body.single,
body.archive,
body.page {
  .heading {
    padding: 8px 30px;
    span {
      display: none;
    }
  }
}

.backhead {
  z-index: -50;

  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
}
.bkblock0n {
  position: absolute;
  top: 0;

  height: 170px;
}

.container {
  width: $width;
  margin-top: -11px;
  padding: 20px 0 $footer;

  background-color: #fff;
}
.breadcrumbs {
  font-family: 'Neucha';
  font-size: 14px;

  display: block;

  margin: -20px 0 0;
  padding: 0 30px 10px;
  a {
    color: #563685;
  }
  span {
    color: #8f6dbe;
  }
}
section {
  article {
    width: 920px;
    margin: 0 auto;
    padding-bottom: 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Neucha';

      margin-bottom: 24px;

      color: #312029;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
      line-height: 18px;

      margin-bottom: 24px;

      color: #707070;
    }
    ul {
      margin-bottom: 24px;
    }
    li {
      margin: 0 0 12px;
      &:before {
        display: inline-block;

        width: 8px;
        height: 8px;
        margin: 0 7px 0 0;

        content: '';

        background-repeat: no-repeat;

        @include sprite($sprite-star-small);
      }
    }
    a {
      color: #d0247a;
      &:hover {
        color: #533281;
      }
    }
  }
  .heading {
    font-family: 'Neucha';
    font-size: 24px;

    position: relative;

    width: 100%;
    height: 40px;
    margin: 0 0 40px;
    padding: 8px 110px 0;

    color: #fff;
    text-shadow: 0 1px 1px rgba(182, 19, 104, .004);
    &:before,
    &:after {
      position: absolute;
      top: 0;

      display: block;

      width: 20px;
      height: 50px;

      content: '';
    }
    span {
      position: absolute;
      top: -20px;
      left: 8px;

      display: inline-block;

      width: 80px;
      height: 80px;

      content: '';
    }
    a {
      font-size: 14px;

      position: absolute;
      top: 13px;
      right: 15px;

      text-align: right;

      color: #fff;
      &:hover {
        color: #fef200;
      }
    }
  }
  .heading-category {
    a {
      font-size: 24px;

      position: relative;
      top: 0;
      right: 0;

      display: inline-block;

      color: #fff;
      text-shadow: 0 1px 1px rgba(182, 19, 104, .004);
    }
  }
  .heading-pink {
    background-color: #eb4099;
    &:before {
      left: -20px;

      @include sprite($sprite-heading-left-pink);
    }
    &:after {
      right: -20px;

      @include sprite($sprite-heading-right-pink);
    }
  }
  .heading-violet {
    background-color: #8157bc;
    &:before {
      left: -20px;

      @include sprite($sprite-heading-left-violet);
    }
    &:after {
      right: -20px;

      @include sprite($sprite-heading-right-violet);
    }
  }
  .heading-blue {
    background-color: #5b7fa6;
    &:before {
      left: -20px;

      @include sprite($sprite-heading-left-blue);
    }
    &:after {
      right: -20px;

      @include sprite($sprite-heading-right-blue);
    }
  }
  .heading-pony-pink {
    span {
      @include sprite($sprite-heading-pony-pink);
    }
  }
  .heading-pony-pink-v2 {
    span {
      @include sprite($sprite-heading-pony-pink-2);
    }
  }
  .heading-pony-violet {
    span {
      @include sprite($sprite-heading-pony-violet);
    }
  }
  .heading-pony-blue {
    span {
      @include sprite($sprite-heading-pony-blue);
    }
  }
  .share-social {
    height: 60px;
    margin-bottom: 40px;
    padding: 20px 25px 0 25px;

    border-radius: 10px;
    background-color: rgb(235, 64, 153);
    h6 {
      font-family: 'Neucha';
      font-size: 24px;

      display: inline-block;
      float: left;

      width: 475px;

      color: #fff;
    }
    ul {
      position: relative;
      top: -8px;

      height: 35px;
      li {
        display: inline-block;

        width: 35px;
        height: 100%;
        margin: 0 4px;
        &:before {
          display: none;
        }
        &:first-child {
          a {
            @include sprite($sprite-ico-google-plus);
          }
        }
        &:nth-child(2) {
          a {
            @include sprite($sprite-ico-youtube);
          }
        }
        &:nth-child(3) {
          a {
            @include sprite($sprite-ico-facebook);
          }
        }
        &:nth-child(4) {
          a {
            @include sprite($sprite-ico-twitter);
          }
        }
        &:nth-child(5) {
          a {
            @include sprite($sprite-ico-ok);
          }
        }
        &:nth-child(6) {
          a {
            @include sprite($sprite-ico-vk);
          }
        }
        &:nth-child(7) {
          a {
            @include sprite($sprite-ico-mail);
          }
        }
        &:last-child {
          a {
            @include sprite($sprite-ico-yandex);
          }
        }
        a {
          display: block;
          overflow: hidden;

          width: 100%;
          height: 100%;

          border-radius: 50%;
          background-repeat: no-repeat;
          span {
            display: block;

            width: 100%;
            height: 100%;

            transition: all .5s;

            background-color: rgba(255, 255, 255, 0);
          }
        }
        &:hover {
          span {
            background-color: rgba(255, 255, 255, .44);
          }
        }
      }
    }
  }
  .share-social-bdrs-bot {
    border-radius: 0 0 10px 10px;
  }
}

.single-game {
  overflow: hidden;

  width: 920px;
  height: 525px;

  background-color: #ddd;
}

.single-video {
  overflow: hidden;

  width: 920px;
  height: 515px;

  background-color: #ddd;
}

.other-pony-list {
  display: block;

  width: 920px;
  margin: 0 auto 20px;
  padding: 0;
  li {
    position: relative;

    display: inline-block;
    float: left;

    width: 215px;
    margin: 0 10px 20px;

    text-align: center;
    &:nth-child(4n+1) {
      margin-left: 0;
    }
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    a {
      &:first-child {
        display: block;

        width: 215px;
        height: 215px;
        margin: 0 0 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:last-child {
        font-family: 'Neucha';
        font-size: 18px;

        color: #d0247a;
        &:hover {
          color: #533281;
        }
      }
    }
  }
}
.new-games-list-wad {
  width: 920px;
  margin: 0 auto 20px;
  padding: 0;
  li {
    display: inline-block;
    float: left;
    overflow: hidden;

    width: 220px;
    height: 200px;
    margin: 0 10px;

    border-radius: 8px;
    a {
      position: relative;
      z-index: 0;

      display: block;

      width: 100%;
      height: 100%;

      border-radius: 8px;
      img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 8px;
      }
    }
    span {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 40px;
      padding: 12px 0 0;

      text-align: center;

      color: #fff;
      border-radius: 0 0 8px 8px;
      background-color: #8157bc;
    }
    &:hover {
      box-shadow: 3px 3px 5px 0 rgba(235,64,153,1);
      span {
        background-color: #eb4099;
      }
    }
    &:first-child {
      width: 200px;
      margin-left: 0;

      border-radius: 0;
      img {
        border-radius: 0;
      }
      span {
        display: none;
      }
      &:hover {
        box-shadow: none;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:before {
      display: none;
    }
  }
}
.game-list-category {
  width: 920px;
  margin: 0 auto 20px;
  padding: 0;
  li {
    display: inline-block;
    float: left;
    overflow: hidden;

    width: 215px;
    height: 190px;
    margin: 0 10px 20px;

    border-radius: 8px;
    background-color: yellow;
    a {
      position: relative;
      z-index: 0;

      display: block;

      width: 100%;
      height: 100%;

      border-radius: 8px;
      img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 8px;
      }
    }
    span {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 40px;
      padding: 12px 0 0;

      text-align: center;

      color: #fff;
      border-radius: 0 0 8px 8px;
      background-color: #8157bc;
    }
    &:hover {
      box-shadow: 3px 3px 5px 0 rgba(235,64,153,1);
      span {
        background-color: #eb4099;
      }
    }
    &:nth-child(4n+1) {
      margin-left: 0;
    }
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    &:before {
      display: none;
    }
  }
}
.new-series-video {
  width: 920px;
  margin: 0 auto 20px;
  padding: 0;
  li {
    display: inline-block;
    float: left;

    width: 290px;
    height: 100%;
    margin: 0 12px 20px;

    text-align: left;
    iframe {
      width: 100%;
      height: 166px;
      margin: 0 0 16px;

      background-color: grey;
    }
    &:nth-child(3n+1) {
      margin-right: 13px;
      margin-left: 0;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
      margin-left: 13px;
    }
    a {
      font-family: 'Neucha';
      font-size: 18px;

      color: #d0247a;
      &:hover {
        color: #533281;
      }
    }
    a {
      display: block;

      width: 100%;
      height: 166px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.looper {
  width: 920px;
  margin: 0 auto 20px;
  padding: 0;
  li {
    display: inline-block;
    float: left;

    width: 290px;
    height: 180px;
    margin: 0 12px 20px;

    text-align: left;
    &:nth-child(3n+1) {
      margin-right: 13px;
      margin-left: 0;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
      margin-left: 13px;
    }
    a {
      position: relative;
      z-index: 0;

      display: block;

      width: 100%;
      height: 166px;
      h2 {
        font-family: 'Neucha';
        font-size: 18px;

        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;

        width: 100%;
        padding: 7px 5px;

        color: #d0247a;
        background-color: rgba(0, 0, 0, .65);
      }
      img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        h2 {
          color: #fff;
          background-color: rgba(0, 0, 0, .99);
        }
      }
    }
  }
  .error-404 {
    display: block;

    width: 100%;
    margin-left: 0;
    margin-left: 0;
  }
}
.article-gallery {
  position: relative;

  margin: 0 0 40px;

  box-shadow: 0 5px 5px 0 rgba(204,204,204,1);
  &:before,
  &:after {
    position: absolute;
    bottom: -5px;

    width: 0;
    height: 0;

    content: '';

    border-style: solid;
  }
  &:before {
    left: -5px;

    border-width: 0 5px 5px 0;
    border-color: transparent #8b7d45 transparent transparent;
  }
  &:after {
    right: -5px;

    border-width: 5px 5px 0 0;
    border-color: #8b7d45 transparent transparent transparent;
  }
  .shadowline {
    position: relative;

    height: 5px;
    margin: 0 0 20px;

    background-color: black;
  }
  h5 {
    position: relative;

    height: 50px;
    span {
      font-family: 'Neucha';
      font-size: 24px;

      position: relative;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 16px;

      display: block;

      height: 50px;
      padding: 10px 40px 0 95px;

      color: #fff;
      background-color: #ff6c00;
      &:before,
      &:after {
        position: absolute;
        top: 0;

        display: inline-block;

        content: '';
      }
      &:before {
        left: -16px;

        @include sprite($sprite-article-gallery-h4-l);
      }
      &:after {
        right: -16px;

        @include sprite($sprite-article-gallery-h4-r);
      }
    }
    &:before {
      position: absolute;
      z-index: 3;
      top: -10px;
      left: 10px;

      display: inline-block;

      content: '';

      @include sprite($sprite-heading-pony-orange);
    }
  }
  ul {
    position: relative;

    width: 990px;
    margin: 0 -5px;
    padding: 25px 25px 80px;

    background-color: #fffaba;
    li {
      display: inline-block;
      float: left;

      width: 220px;
      height: 130px;
      margin: 0 10px;
      a {
        display: block;

        width: 220px;
        height: 130px;
        margin: 0;

        border: 5px solid #f4eb7e;
      }
      &:hover {
        a {
          border-color: #ff6c00;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .butt {
    position: absolute;
    top: 225px;
    left: 405px;
  }
}
.pagination {
  width: 100%;
  height: 35px;
  margin: 0 auto 30px;
  padding: 0 30px;

  text-align: center;
  a,
  span {
    font-family: 'Neucha';
    font-size: 16px;
    line-height: 2.2;

    display: inline-block;

    width: 35px;
    height: 35px;

    text-decoration: none;

    border: 1px solid transparent;
    border-radius: 3px;
  }
  a {
    color: #dbc5f9;
    background-color: #8157bc;
    &:hover {
      color: #8157bc;
      border-color: #8157bc;
      background-color: #dbc5f9;
    }
  }
  span {
    color: #8157bc;
    background-color: #dbc5f9;
  }
  .next,
  .prev {
    font-size: 0;

    position: relative;
    &:before {
      font-size: 16px;

      position: absolute;
      z-index: 2;
      top: 0;
      left: 14px;
    }
  }
  .prev {
    float: left;
    &:before {
      content: '<';
    }
  }
  .next {
    float: right;
    &:before {
      content: '>';
    }
  }
}
.single-game iframe,
.single-game object {
  width: 920px !important;
  height: 525px !important;
}
.vk-comments {
  width: 920px;
  height: 610px;
  margin: 0 30px 10px;

  background-color: #ccc;
}
.teaser {
  width: 920px;
  height: 135px;
  margin: 0 auto 20px;

  background-color: #ddd;
}
footer {
  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;
  .mainfooter {
    position: relative;

    width: $width;
    height: $footer;
    margin: 0 auto;

    background-image: url(../img/bg/footer-body.png);
    background-repeat: no-repeat;
    background-position: center top;
    &:before,
    &:after {
      position: absolute;
      top: 52px;

      width: 5px;

      content: '';

      background-repeat: no-repeat;
    }
    &:before {
      left: -5px;

      height: 20px;

      @include sprite($sprite-footer-body-before);
    }
    &:after {
      right: -5px;

      height: 24px;

      @include sprite($sprite-footer-body-after);
    }
  }
  .footer-widget {
    position: absolute;
    top: 85px;

    display: block;

    width: 160px;
    height: 200px;

    border-right: 1px solid #ef57a3;
    h6 {
      font-family: 'Neucha';
      font-size: 20px;

      margin: 0 0 30px;

      text-align: center;

      color: #fef200;
    }
    ul {
      margin: 0;
      padding: 0;

      text-align: center;
    }
    li {
      margin: 0 0 16px;
      a {
        text-decoration: none;

        color: #fff;
      }
    }
  }
  .footer-widget-left {
    left: 20px;
  }
  .footer-widget-middle {
    left: 181px;
  }
  .footer-widget-right {
    left: 341px;
  }
  .copyright {
    font-size: 12px;

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: $width;
    height: 50px;
    margin: 0 auto;
    padding: 20px;

    color: #ffc6e3;
  }
}

@import '_print.scss';
