@import '_reset.scss';
@import '_wordpress.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_font_neucha.scss';

$width: 980px;
$footer: 330px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #000;
$trs: all 0.5s;



body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	background-color: #dbc5f9;
	background-image: url(../img/bg/body.jpg);
	background-repeat: no-repeat;
	background-position: center -300px;
	color: $color;
	font-weight: normal;
}
body.home {
	background-position: center top;
}
a {
	color: $color_a;
	transition: $trs;
	&:hover {
		color: lighten($color_a, 10%);
	}
	&:active {
		color: lighten($color_a, 20%);
	}
}

.wrapper {
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}
.inner {
	width: $width;
	margin: 0 auto;
	position: relative;
}

header {
	height: 315px;
	z-index: 0;
	.logo {
		display: block;
		width: 761px;
		height: 204px;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 121px;
		img {
			max-width: 100%;
		}
	}
	nav {
		position: absolute;
		left: 0;
		bottom: 11px;
	}
	.headnav {
		height: 100px;
		width: 100%;
		display: block;

		z-index: 1;
		padding: 0 30px;
		background-image: url(../img/bg/headnav.png);
		li {
			display: inline-block;
			float: left;
			width: 230px;
			text-align: center;
			position: relative;
			a{
				font-size: 22px;
				font-family: Neucha;
				text-decoration: none;
				color: #fff;
				display: block;
				padding: 29px 0 28px;
				position: relative;
				text-shadow: 0px 2px 2px rgba(56, 29, 95, 0.004);
				&:hover {
					color: #fef200;
				}
				&:before {
					content: ' ';
					width: 100%;
					display: block;
					position: absolute;
					top: -60px;
					left: 0;
					z-index: 2;
					background-repeat: no-repeat;
					background-position: center top;
				}
			}
			&:after {
				content: ' ';
				display: block;
				width: 12px;
				height: 12px;
				background-image: url(../img/bg/star.png);
				background-repeat: no-repeat;
				position: absolute;
				top: 32px;
				right: -6px;
			}
			&:last-child {
				&:after {
					display: none;

				}
			}
			&:first-child {
				a {
					&:before {
						height: 88px;
						background-image: url(../img/bg/headnav-1.png);
					}
				}
			}
			&:nth-child(2) {
				a {
					&:before {
						height: 87px;
						background-image: url(../img/bg/headnav-2.png);
					}
				}
			}
			&:nth-child(3) {
				a {
					&:before {
						height: 79px;
						background-image: url(../img/bg/headnav-3.png);
					}
				}
			}
			&:last-child {
				a {
					&:before {
						height: 90px;
						background-image: url(../img/bg/headnav-4.png);
					}
				}
			}
		}
	}
}
.header-wos {
	height: 315px;
	.logo {
		height: 202px;
	}
}

.backhead {
	z-index: -50;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.bkblock0n {
	position: absolute;
	top: 0;
	height: 170px;
}


.container {
	width: $width;
	padding: 0 0 $footer;
	background-color: #fff;
	margin-top: -11px;
}
section {
	.heading {
		height: 40px;
		width: 100%;
		background-color: #eb4099;
		text-shadow: 0px 1px 1px rgba(182, 19, 104, 0.004);
		font-size: 24px;
		font-family: Neucha;
		padding: 8px 110px 0;
		margin: 0 0 40px;
		color: #fff;
		position: relative;
		&:before,
		&:after {
			position: absolute;
			width: 20px;
			height: 50px;
			display: block;
			content: '';
			top: 0;
		}
		&:before {
			background-image: url(../img/bg/heading-left.png);
			left: -20px;
		}
		&:after {
			background-image: url(../img/bg/heading-right.png);
			right: -20px;
		}
		span {
			display: inline-block;
			width: 80px;
			height: 80px;
			content: '';
			position: absolute;
			top: -20px;
			left: 8px;

		}
	}
	.heading-new-game {
		span {
			background-image: url(../img/bg/heading-new-game.png);
		}
	}
}






footer {
	position: relative;
	width: 100%;
	height: $footer;
	margin: $footer_margin auto 0;
	.mainfooter {
		width: $width;
		height: $footer;
		margin: 0 auto;
		background-image: url(../img/bg/footer-body.png);
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;
		&:before,
		&:after {
			content: '';
			width: 5px;
			background-repeat: no-repeat;
			position: absolute;
			top: 52px;
		}
		&:before {
			height: 20px;
			left: -5px;

			background-image: url(../img/bg/footer-body-before.png);
		}
		&:after {
			height: 24px;
			right: -5px;
			background-image: url(../img/bg/footer-body-after.png);
		}
	}
	.footer-widget {
		width: 160px;
		display: block;
		height: 200px;
		border-right: 1px solid #ef57a3;
		position: absolute;
		top: 85px;
		h6 {
			color: #fef200;
			font-size: 20px;
			text-align: center;
			margin: 0 0 30px;
			font-family: Neucha;
		}
		ul {
			text-align: center;
			margin: 0;
			padding: 0;
		}
		li {
			margin: 0 0 16px;
			a{
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.footer-widget-left {
		left: 20px;
	}
	.footer-widget-middle {
		left: 181px;
	}
	.footer-widget-right {
		left: 341px;
	}
	.copyright {
		height: 50px;
		margin: 0 auto;
		padding: 20px;
		width: $width;
		display: block;
		color: #ffc6e3;
		font-size: 12px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

@import '_print.scss';
